# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# Cache and temporary files
*.cache
*.tmp
.tmp/
.cache/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
*.iml

# Test coverage
coverage/

# Miscellaneous
*.swp
*.swo